body{
  font-family: "Vollkorn", sans-serif;

}

video#bgvideo{
    position: fixed; 
    min-height: 100%; 
    min-width: 100%; 
    z-index: -100;
    }

    .navbar-custom {
      font-size: 18px;
      background-color: #1b3759;
      border-color: #132740;
      background-image: -webkit-gradient(linear, left 0%, left 100%, from(#274f80), to(#1b3759));
      background-image: -webkit-linear-gradient(top, #274f80, 0%, #1b3759, 100%);
      background-image: -moz-linear-gradient(top, #274f80 0%, #1b3759 100%);
      background-image: linear-gradient(to bottom, #274f80 0%, #1b3759 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff274f80', endColorstr='#ff1b3759', GradientType=0);
    }
    .navbar-custom .navbar-brand {
      color: #ffffff;
    }
    .navbar-custom .navbar-brand:hover,
    .navbar-custom .navbar-brand:focus {
      color: #ffffff;
      background-color: transparent;
    }
    .navbar-custom .navbar-text {
      color: #c0c0c0;
    }
    .navbar-custom .navbar-nav > li:last-child > a {
      border-right: 1px solid #132740;
    }
    .navbar-custom .navbar-nav > li > a {
      color: #c0c0c0;
      border-left: 1px solid #132740;
    }
    .navbar-custom .navbar-nav > li > a:hover,
    .navbar-custom .navbar-nav > li > a:focus {
      color: #ffffff;
      background-color: transparent;
    }
    .navbar-custom .navbar-nav > .active > a,
    .navbar-custom .navbar-nav > .active > a:hover,
    .navbar-custom .navbar-nav > .active > a:focus {
      color: #ffffff;
      background-color: #132740;
      background-image: -webkit-gradient(linear, left 0%, left 100%, from(#132740), to(#1f3f67));
      background-image: -webkit-linear-gradient(top, #132740, 0%, #1f3f67, 100%);
      background-image: -moz-linear-gradient(top, #132740 0%, #1f3f67 100%);
      background-image: linear-gradient(to bottom, #132740 0%, #1f3f67 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff132740', endColorstr='#ff1f3f67', GradientType=0);
    }
    .navbar-custom .navbar-nav > .disabled > a,
    .navbar-custom .navbar-nav > .disabled > a:hover,
    .navbar-custom .navbar-nav > .disabled > a:focus {
      color: #cccccc;
      background-color: transparent;
    }
    .navbar-custom .navbar-toggle {
      border-color: #dddddd;
    }
    .navbar-custom .navbar-toggle:hover,
    .navbar-custom .navbar-toggle:focus {
      background-color: #dddddd;
    }
    .navbar-custom .navbar-toggle .icon-bar {
      background-color: #cccccc;
    }
    .navbar-custom .navbar-collapse,
    .navbar-custom .navbar-form {
      border-color: #13263e;
    }
    .navbar-custom .navbar-nav > .dropdown > a:hover .caret,
    .navbar-custom .navbar-nav > .dropdown > a:focus .caret {
      border-top-color: #ffffff;
      border-bottom-color: #ffffff;
    }
    .navbar-custom .navbar-nav > .open > a,
    .navbar-custom .navbar-nav > .open > a:hover,
    .navbar-custom .navbar-nav > .open > a:focus {
      background-color: #132740;
      color: #ffffff;
    }
    .navbar-custom .navbar-nav > .open > a .caret,
    .navbar-custom .navbar-nav > .open > a:hover .caret,
    .navbar-custom .navbar-nav > .open > a:focus .caret {
      border-top-color: #ffffff;
      border-bottom-color: #ffffff;
    }
    .navbar-custom .navbar-nav > .dropdown > a .caret {
      border-top-color: #c0c0c0;
      border-bottom-color: #c0c0c0;
    }
    @media (max-width: 767) {
      .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #c0c0c0;
      }
      .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
      .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: transparent;
      }
      .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
      .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
      .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #132740;
      }
      .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
      .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
      .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
      }
    }
    .navbar-custom .navbar-link {
      color: #c0c0c0;
    }
    .navbar-custom .navbar-link:hover {
      color: #ffffff;
    }

    #home {
      background-color: transparent;
      color: #1b3759;
      text-align: center;
      padding-top: 15%;
    }

    #home h1{
      margin-bottom: 30px;
      font-weight: bold;
    }
  
    #home h2 {
      margin-bottom: 50px;
      font-weight: bold;
    }

    #home .btn {
      background-color: #1b3759;
      color: #ffffff;
      font-size: 20px;
      padding: 8px 20px;
      border-radius: 8px;
    }

    #home .btn:hover {
      background-color: transparent;
      border-color: currentColor;
      font-weight: bold;
      color: #1b3759;
      font-size: 20px;
      padding: 8px 20px;
      border-radius: 8px;
    }

    .container {
      max-width: 1000px;
    }

    #about {
      color: #ffffff;
      text-align: center;
      padding-top: 100px;
    }

    #about h2 {
      font-weight: bold;
      padding-top: 30px;
    }

    #about p {
      font-size: 17px;
      margin-bottom: 30px;
    }

    .aboutImage {
      height: 120px;
    }

    #promise {
      padding-top: 100px;
    }

    .carousel .carousel-indicators li {
      width: 10px;
     height: 10px;
     border-radius: 100%;
   }

    #carouselExampleIndicators {
      margin: 0 auto;
      text-align: center;
    }

    .carousel-inner .carousel-item img {
      max-height: 600px;
      max-width: 700px;
      margin: 10px auto;
    }

    .carousel-inner .carousel-item {
      padding-bottom: 40px;
      color: #ffffff;
    }

    .carousel-inner .carousel-item h2{
      width: 700px;
      margin: 10px auto;
    }

    #d-block {
      position: relative;
      left: auto;
      right: auto;
      height: 200px;
    }
